.wrapper{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.wrapper img{
    max-width: 400px;
    margin-bottom: 20px;
}

p {
    display: block;
    margin-bottom: 10px;
}

.contacts{
    margin-left: 10px;
    margin-bottom: 30px;
}