.pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 30px;
}

.pagination button {
    width: 25px;
    height: 25px;
    padding: 3px;
    margin: 3px 6px;
    border: 1px solid white;
    font-size: 13px;
    border-radius: 50%;
}


.selectedPage {
    color: black;
    background: white;
}
