.nav{
    background: rgba(0,0,0,0.8);
    min-width: 200px;
    padding: 10px 10px 10px 20px;
    margin-right: 10px;
}

.nav li{
   margin-bottom: 10px;
}

.nav a{
    font-size: 18px;
    transition: all ease .2s;
}

.nav a.active{
    color: peru;
}

.nav a:hover{
   color: peru;
    padding-left: 10px;
}