* {
    box-sizing: border-box;
    color: white;
    margin: 0;
    outline: none;
    padding: 0;
}

div {
    border-radius: 3px;
}

button {
    border-radius: 3px;
    background: black;
    border: 2px solid white;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    transition: all ease .5s;
    font-weight: bold;
}

button:hover {
    background: white;
    color: black;
}

body {
    background: url("https://sun4-16.userapi.com/3i6c9sqA7ggyKCD_2TcvhGsiVu4wjZB7jjVdrQ/IjTQluJh-vY.jpg");
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

html {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}

img {
    width: 100%;
}

textarea {
    resize: none;
    padding: 5px;
    border-radius: 3px;
    color: black;
}

input{
    color: black;
}
header {
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    margin: 10px 0;
    padding: 10px;
}

.app-wrapper {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 10px;
}

.preloader {
    width: 100px;
    margin: 0 auto;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.preloaderWrap {
    width: 100%;
    display: flex;
    align-items: center;
    background: black;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}
